h1#niceride-big {
	font-family: 'Gorditas', cursive;
    color: #41A317;
    font-size: 130px;
    line-height: 130px;
    text-align: center;
}

h2#niceride-medium {
	font-family: sans-serif;
	font-size: 20px;
	color: #444;
	margin-left: 470px;
	margin-bottom: 50px;
}

label.niceride-label {
	font-size: 20px;
	line-height: 30px;
}

#options {
	text-align: center;
}